/*-- scss:defaults --*/
// Base document colors. theme "Morpph": https://github.com/quarto-dev/quarto-cli/blob/main/src/resources/formats/html/bootstrap/themes/morph.scss
$link-color: #4d4d6f;
//$toc-color: #d72323;

// Code blocks
//$code-block-bg-alpha: -.9;